@font-face {
  font-family: 'Stapel';
  font-weight: 400;
  font-style: normal;
  src: url('./Stapel-Light.woff');
  src: url('./Stapel-Light.woff') format('woff');
}
@font-face {
  font-family: 'Stapel';
  font-weight: 500;
  font-style: normal;
  src: url('./Stapel-Medium.woff');
  src: url('./Stapel-Medium.woff') format('woff');
}